body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.toast {
    max-width: 350px;
    display: none;
    opacity: 0;
    position: absolute;
    bottom: 40px;
    right: 0;
    z-index: 9999;
    background-color: rgba(255,255,255,.85);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: .25rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
}

    .toast .toast-body {
        padding: .75rem;
    }

.preloader__table {
    position: relative;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
}

.preloader__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
}

.preloader__save {
    width: 25px;
    height: 25px;
}