<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Customers", "Index", "Home")</li>
                <li>@Html.ActionLink("Product", "Index", "Product")</li>
            </ul>
        </div>
    </div>
</div>